@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

:root{
  --text-color: #002444;
  --btn-color: #ffeaca;
  --text-size: 17.2px;
  --dropdown-text: 14px;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;

}
.hamburger-react{
  display: none;
}


.navItem{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: var(--text-color);
  font-size: var(--text-size);
  cursor: pointer;
  font-weight: 700;
}

.drop{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.drop-down{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.menuIcon{
  cursor: pointer;
  
}

.dropdownContainer{
  position: absolute;
  top: 5rem;
  left: 0;
  background-color: #fff;
  width: fit-content;
  height: 150px;
  padding: 1rem;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border-radius: 1.3rem;
  overflow: hidden;
}
.dropdownContainerOne{
  position: absolute;
  top: 5rem;
  left: 8rem;
  background-color: #fff;
  width: fit-content;
  height: 150px;
  padding: 1rem;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border-radius: 1.3rem;

}
.dropdownContainerTwo{
  position: absolute;
  top: 5rem;
  left: 20rem;
  background-color: #fff;
  width: fit-content;
  height: 150px;
  padding: 1rem;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border-radius: 1.3rem
}

.dropMenu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: var(--dropdown-text);
 
}
.mobileMenuContainer{
  display: none;
}


.icons{
  width: 20px;
  height: 20px;
  background-color: red;
}
.btn{
  width: 10rem;
  padding: 0 0.5rem;
  background-color: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

@media screen and (max-width:580px) {
  .nav-items{
    display: none;
  }

  a{
    text-decoration: none;
    list-style: none;
  }
  .navigation{
    gap: 3rem;
  }
  p{
    font-size: 20px;
    color:#fff;
  }
  .hamburger-react{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #cffcff;
    border-radius: 50%;
    z-index: 2;
    
  }
  .mobileMenuContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #002444;
    height: 100vh;
    padding: 0 5.5rem;
    width: 100vw;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    gap: 2rem;
    transition: all 0.6s ease;
    
  }
  .mobileDropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
  }
  .menuIconMobile{
    cursor: pointer;
    color: #fff;
  }
  .mobileListTest{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-weight: 300;
    margin-right: 1rem;
  }
  .mobileListTest p{
    font-size: 17px;
    color:#cfcfcf;
    
  }
  .mobileFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}